# Envrionment variables
.env

# Dependency directories
node_modules

# Transpiled js
dist

# Static assets
static

# Static assets
.cache

# Private secrets
config/*.ts

# .cache directories
**/*.cache

# using yarn for now
package-lock.json
